@font-face {
  font-family: "iconfont"; /* Project id 3494813 */
  src: url('iconfont.woff2?t=1656669486232') format('woff2'),
       url('iconfont.woff?t=1656669486232') format('woff'),
       url('iconfont.ttf?t=1656669486232') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-email:before {
  content: "\e69f";
}

.icon-facebookfacebook52:before {
  content: "\e8c3";
}

.icon-github:before {
  content: "\e603";
}

